.about {
    background-color: #F4F6FF;

}

.about-sub-section {
    /* display: flex;
    flex-direction: column; */
    /* padding: 4vw; */
    /* justify-content: end; */
}

/* Border radius */

.about {
    border-radius: 50px;
    cursor: pointer;
}

.about-content,
.resume {
    border-radius: 25px;
    padding: 5vw 0;

}

.me {
    justify-self: start;
}

.about-content {
    /* background-color: #1E201E; */
    background-image: linear-gradient(to top, #1b1b1c, #1f2021, #242626, #292c2b, #30312f);
}

.resume {
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: self-end;
    justify-content: stretch;
    cursor: pointer;
    background-image: linear-gradient(to right bottom, #d54bef, #bd56db, #a85dc5, #9461af, #826297);
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.about-me {
    line-height: 1.5;
    cursor: pointer;
}
.read-more {
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.about-content {
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Modal styling */
/* Modal styling */
.modal-content {
    padding: 1.5rem;
    border-radius: 8px;
}

.modal-header {
    border-bottom: 1px solid #F4F6FF;
}

.modal-footer {
    border-top: 1px solid #F4F6FF;
}

/* Style for the bio content */
.formatted-bio {
    line-height: 1.6;
    font-size: 1rem;
    white-space: pre-line;
    /* Retain line breaks */
    padding: 1rem;
    color: #333;
}

/* Adjust modal size */
.modal-lg {
    max-width: 80%;
}
.close-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #000;
    opacity: 0.8;
}

.close-button:hover {
    opacity: 1;
}
h2 {
    font-size: 3vw;
    letter-spacing: 15px;
    /* line-height: 100%; */
    /* line-height: 3rem; */

}
h5 {
    /* font-size: 1rem; */
    letter-spacing: 3px;
    line-height: 100%;

}
h4{
    font-size: 1.2em;
    letter-spacing: 3px;
}
h6, p{
    letter-spacing: 2px;
    font-size: 3vw;
}
/* Common styles for the sections */
.about,
.about-content,
.resume {
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
    /* Ensures that scaling happens smoothly from the center */
}

/* Hover effect to shrink div and text together */
.about:hover,
.about-content:hover,
.resume:hover {
    transform: scale(0.96);
    /* Shrink to 96% of original size */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Slight shadow for depth */
}