<div class="container">
    <div class="row about mt-3">
        <!-- First column with "Nice to Meet You" and "About Me" aligned at the top and bottom -->
        <div class="col-6 about-sub-section d-flex flex-column justify-content-between p-5">
            <h2>Nice to Meet You :)</h2>
            <h3 class="me">About Me</h3>
        </div>

        <!-- Second column with profile image aligned to the end (right) -->
        <div class="col-6 about-sub-section d-flex justify-content-end p-0 m-0">
            <img src="/assets/profilePic.png" alt="profile" class="img-fluid">
        </div>
    </div>
   <div class="row text-light my-4 mx-0 about-container">
    <div class="col-8 about-content p-5 pe-3"> <!-- Add padding-end to create space -->
        <h4 class="about-me">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Exercitationem repudiandae necessitatibus, mollitia quis debitis
            earum magnam, corrupti neque, iusto laudantium hic ab temporibus
        </h4>
    </div>
    <div class="col-3 resume p-5 "> <!-- Add padding-start to create space -->
        <h5> Have A look At my Resume</h5>
    </div>
   </div>


</div>
