<div class="footer bg-dark text-white py-5">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left Side: Collaboration Text -->
            <div class="col-md-6">
                <h2 class="display-4 fw-bold">Ready to Collaborate?</h2>
            </div>

            <!-- Right Side: Social Links -->
        <div class="col-md-6 d-flex flex-column align-items-start">
            <a href="mailto:anandabinash25@gmail.com" class="text-white my-2 d-flex align-items-center" target="_blank">
                <img width="48" height="48" src="https://img.icons8.com/color/48/gmail-new.png" alt="gmail-new" /> Email
            </a>
            <!-- <a href="https://www.behance.net/your-profile" class="text-white my-2 d-flex align-items-center" target="_blank">
                <img src="https://img.icons8.com/color/50/000000/behance.png" alt="Behance" class="me-2"> Behance
            </a> -->
            <a href="https://github.com/Abinash-Anand" class="text-white my-2 d-flex align-items-center" target="_blank">
                <img src="https://img.icons8.com/color/50/000000/github.png" alt="GitHub" class="me-2"> GitHub
            </a>
            <a href="https://x.com/abinash_anand25" class="text-white my-2 d-flex align-items-center" target="_blank">
                <img src="https://img.icons8.com/color/50/000000/twitter.png" alt="Twitter" class="me-2"> Twitter
            </a>
            <a href="https://www.linkedin.com/in/abinash-anand-064598203/" class="text-white my-2 d-flex align-items-center"
                target="_blank">
                <img src="https://img.icons8.com/color/50/000000/linkedin.png" alt="LinkedIn" class="me-2"> LinkedIn
            </a>
            <a href="https://leetcode.com/u/abinash_anand_/" class="text-white my-2 d-flex align-items-center" target="_blank">
                <img width="56" height="56"
                    src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/96/external-level-up-your-coding-skills-and-quickly-land-a-job-logo-color-tal-revivo.png"
                    alt="external-level-up-your-coding-skills-and-quickly-land-a-job-logo-color-tal-revivo" /> Leetcode
            </a>
        </div>


        <!-- Footer Bottom Text -->
        <div class="text-center mt-4">
            <small>Designed & Built by Abinash Anand</small>
        </div>
    </div>
</div>
