<div class=" container-1   ">
    <!-- Logo -->
    <!-- <div class="logo mb-4">
        <img src="assets/logo.png" alt="Logo" class="logo-image">
    </div> -->
    <div class="row p-5">
        <div class="col-6 container-1 ">
<!-- Headline and Subheadline -->
        <h1 class="display-3 fw-bold mb-5">Hello</h1>
        <h1 class="display-3 fw-bold">I'm Abinash.</h1>

        </div>
        <div class="col-6 container-1 ">
        <p class="lead mt-3 mb-4">
         A product designer and an open source enthusiast. <br>
         Currently working <span class="fw-bold"> Biorce</span>
        </p>

<!-- Buttons -->
        <div class="button-group">
            <a class="btn btn-outline-secondary me-3">Resume</a>
            <a class="btn btn-outline-secondary">Projects</a>
        </div>
        </div>
    </div>
    
    <!-- Description -->
   
</div>