<div class="container container-1 mt-5 pt-5">
    <div class="row">
        <div class="col-lg-7  col-sm-12 container-1">
            <!-- Headline and Subheadline -->
            <h1 class="display-3 fw-bold mb-5">Hello!</h1>
            <h1 class="display-3 fw-bold">I'm Abinash.</h1>
        </div>
        <div class="col-lg-5  col-sm-12 container-1">
            <p class="lead mt-3 mb-4">
                {{shortBio}}
            </p>

            <!-- Buttons -->
            <div class="button-group">
                <a class="btn btn-outline-secondary btn-lg me-3" (click)="showResume()">Resume</a>
                <a class="btn btn-outline-secondary btn-lg">Projects</a>
            </div>
        </div>
    </div>
</div>