<app-header></app-header>
<!-- <canvas id="magic-canvas" class="magic-canvas"></canvas> -->

<div class="parallax-section" id="home-section">
  <app-home></app-home>
</div>

<div class="parallax-section" id="about-section">
  <app-about></app-about>
</div>

<div class="parallax-section" id="skills-section">
  <app-skills></app-skills> 
</div>

<div class="parallax-section" id="projects-section">
  <app-projects></app-projects>
</div>

<div class="parallax-section" id="contact-section">
  <app-contact></app-contact>
</div>

<app-footer></app-footer>
